.header-container{
    height: 100vh;
    background: linear-gradient(
        rgba(35, 43, 56, 0.7),
        rgba(35, 43, 56, 0.7)
    ), url(../../../Images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    
}

.serviceCards{
  margin-top: 8rem;
}

.s-cards{
    height: 150px;
}