.App {
  text-align: center;
}
/* My custom classes */

.brand-text-primary{
  font-family: 'Poppins', sans-serif;
  color: #f4BC1C;
}

.brand-text-secondary{
  color: #171717;
  font-family: 'Poppins', sans-serif;
}

.section-header{

}

.brand-span{

}
.brand-span-secondary{
  color: #171717;
  font-weight: 600;
}

.brand-background-primary{
background: #f4BC1C;
}

.brand-background-secondary{
  background: #171717;
}

.brand-btn-primary{
  color: white;
  background: #f4BC1C;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: .5rem 1rem;
  margin: 1rem;
  font-family: 'Poppins', sans-serif;
}

.brand-btn-secondary{
  color: white;
  background: #171717;
  outline: none;
  border: none; border-radius: 5px;
  padding: .5rem 1rem;
  margin: 1rem;
  font-family: 'Poppins', sans-serif;
}

.brand-btn-ternary{
  color: white;
  background: transparent;
  outline: none;
  border: 2px solid #f4BC1C;
  border-radius: 5px;
  padding: .5rem 1rem;
  margin: 1rem;
  font-family: 'Poppins', sans-serif;
}
